@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}
body, html{
    background-color: lightgray;
}
header{
    background-color: gray;
}
header h1{
    color: white;
    text-align: center;
    padding: 10px;
}
span#imenu{
    background-color: rgb(47, 47, 47);
   width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}
span#imenu:hover{
    background-color: rgba(255, 255, 255, 0.409);
    color: black;
}
menu{
    display: none;
}
menu > a{
    list-style: none;
 
}
menu> ul > li >a {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(103, 101, 101);
    padding: 10px;
    display: block;
    border-bottom: 1px solid rgb(153, 153, 153);
  
}
menu> ul > li >a:hover {
    background-color: rgb(137, 134, 134);
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 10px;
    border-radius: 10px;
  
}
article h2{
    margin-bottom: 20px;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
}
article p{
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}
