@charset "UTF-8";


h1{
    color: #000000;
}

.container {
            display: grid;
            grid-template-rows: repeat(7, 100px);
            grid-template-columns:repeat(3, 1fr);
            gap: 10px;
            border: #000000 4px solid; 
        }
        .topo {
            text-align: center;
            background-color: #23d573;
            color: rgb(0, 0, 0);
            grid-row: 1 /3;
            grid-column: 1 / 4;
        }   
        .menu {
            text-align: center;
            background-color: #f54242;
            color: rgb(0, 0, 0);
            grid-row: 3 / 4;
            grid-column: 1 / 4;
        }   
        .principal {
            text-align: center;
            background-color: #4287f5;
            color: rgb(12, 12, 12);
            grid-row: 4 / 7;
            grid-column: 1 / 3;
            
        }
        .secundaria {
            text-align: center;
            background-color: #f5a142;
            color: rgb(0, 0, 0);
            grid-row: 4 / 7;
            grid-column: 3 / 4;
        }
        .rodape {   
            text-align: center;
            background-color: #a142f5;
            color: rgb(0, 0, 0);
            grid-row: 7 / 8;
            grid-column: 1 / 4;
        }