@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    line-height: 1.6em;
    
}
header {
    background-color: #5b685b;
}
header h1{
    color: white;
    padding: 10px;
}
menu ul{
    list-style: none;
    background-color: #4e4949;
}
menu ul li{
    background-color: #4e4949;
    color: white;
    display: inline-block;
    margin-right: 10px;
}
article{
    width: 600px;
    margin: block;
    margin: auto;
}