@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
   
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(18, 0, 217);
}
h1 {
    color: white;
    text-shadow: 3px 3px 0px rgb(24, 21, 82);
    padding: 10px;
    
}